<agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom] = 12>
  <agm-circle
    (circleClick) = "recive_mark_location($event)"
    (dragEnd) = "getIssuesDrag($event)"
    (radiusChange) = "postIssuesRadius($event)"
    [latitude]="lat" 
    [longitude]="lng" 
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true">
  </agm-circle>
  <agm-marker
      *ngFor = "let issue of issues"
      [latitude]="issue.lat" 
      [longitude]="issue.long"
      [title] = "issue.title">
  </agm-marker>
</agm-map>
