#post-container{
    padding: 30px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img
{
    margin-bottom: 50px;
    width: 100%;
}

.profile-pic{
    margin-right: 5px;
    height: 40px;
    width: 100%;
    display: inline-block;
}

.name
{
    display: inline-block;
}

agm-map {
    height: 200px;
    
}